
.AppHeader {
  text-align: center;
  color: black;
  font-size: large;
}

.App-link {
  color: #61dafb;
}

nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: rgb(14, 11, 37);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  border-color: black;
  border-width: 3px;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

/* Change the link color to #111 on hover */
nav ul li a:hover {
  background-color: #aaa;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 5px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #f2f2f2;
}

.evaluaciones {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.home {

  align-items: center;
  justify-content: space-evenly;
}

/* Index Details */
.indices-body {
  display: flex;
  align-content: center;
}

.index-detail {
  border-width: 10px;
  border-color: black;
  padding: 20px;
  background-color: rgb(191, 199, 221);
  border-radius: 20px;
  margin: auto;
}

/* Footer */

.AppFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #F0CA41 0%, #00ffcc 100%);
}
p.author {
  width: 100%;
  text-align: center;
}

/* Body */
html{
  font-family: 'Courier New', Courier, monospace;
}

/* App Body */


.home{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.home-numberOfIndices{
  flex: 1 1 auto;
}
.App{

}

html{
  height: 100%;
  background: linear-gradient(to bottom right, #ff00ff 0%, #F0CA41 100%);
}